<div class="main-content">
  <header pageTitle="General Information" iconTitle="info" activeToggle="generalinfo"
    helpText="This is General Info quick help section"></header>

  <main>
    <div [@fallIn]='state'>
      <div>
        <mat-tab-group mat-align-tabs="center" color="primary" backgroundColor="accent">
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>info</mat-icon> &nbsp; About Us
            </ng-template>
            <div class="content">
              <h2>Who are we?</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in vestibulum odio. Nam lobortis est
                nec eros ultrices, non maximus ex ullamcorper. Donec vel turpis faucibus ex pellentesque rhoncus. Nam
                auctor erat eget dui hendrerit, id volutpat diam condimentum. Integer vel nisi euismod, porta lectus
                elementum, gravida lorem. Vestibulum ac magna finibus ipsum tempor tristique. Cras ligula risus, auctor
                in interdum ut, hendrerit ut lorem. Duis tincidunt ligula dolor, et porta arcu fermentum vel. Vivamus
                interdum tellus ac augue tempus porta. Fusce eu gravida diam. Curabitur vel felis at est luctus rutrum.
                Curabitur non neque fringilla, consectetur odio vitae, fringilla orci. In tortor massa, congue vel leo
                non, lobortis posuere mauris. In hac habitasse platea dictumst. In venenatis nisi nibh, vitae vestibulum
                lectus tristique ac. </p>
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>question_answer</mat-icon> &nbsp; FAQ
            </ng-template>
            <div class="content">
              <h2>Some general questions asked.</h2>
              <p>Etiam venenatis porta pharetra. Aliquam quis diam in mi sodales pharetra. Maecenas nunc mauris,
                porttitor at lorem ut, tempor viverra massa. Vestibulum quis blandit eros. Pellentesque nec pretium
                erat. Maecenas quis rutrum justo. Nulla vestibulum consectetur rhoncus. Sed quam tortor, suscipit eu mi
                ullamcorper, laoreet posuere mi. Phasellus porttitor nulla quis massa pretium viverra. Pellentesque ante
                tortor, fermentum ut dignissim eu, sagittis sed nisl. Pellentesque habitant morbi tristique senectus et
                netus et malesuada fames ac turpis egestas. Cras et urna id turpis hendrerit fringilla quis at purus.
                Donec tellus urna, egestas et suscipit a, feugiat et massa. Nam luctus commodo dui, vel dapibus ex
                hendrerit ut. Proin imperdiet pharetra lacus, vel facilisis mi tempor a. </p>
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>assignment_late</mat-icon> &nbsp; Terms & Conditions
            </ng-template>
            <div class="content">
              <h2>Terms and conditions you are agreeing on while using this website.</h2>
              <p> Morbi id arcu id magna tempus hendrerit. In vitae dolor justo. Sed ultrices est faucibus nulla
                tristique, ac molestie magna placerat. Etiam id arcu a purus blandit tristique a nec lacus. Nunc
                hendrerit vehicula tellus. In dictum non orci a varius. Ut at sollicitudin libero. Praesent elementum,
                augue ut feugiat condimentum, est neque blandit neque, sed venenatis urna eros in erat. Nam suscipit,
                ligula vitae tristique porta, tellus leo gravida elit, at blandit nisi dolor non justo. Phasellus at
                vehicula felis. Cras pretium sodales tempor. Proin pulvinar auctor libero sit amet sollicitudin. In
                lectus sem, sagittis rutrum ipsum nec, gravida dignissim sem.

                Mauris vel urna aliquam, euismod magna ut, suscipit neque. Nunc vitae pulvinar turpis. Mauris vitae sem
                consequat, vestibulum nisi at, feugiat ligula. Aenean suscipit quam nec eros lacinia efficitur. Cras sit
                amet elementum libero. Nunc feugiat commodo ante, quis sagittis sapien pharetra ut. In lobortis nulla et
                felis sagittis, sodales cursus urna tincidunt. Nullam vitae arcu sollicitudin, vulputate quam in,
                fermentum lectus. Etiam nec augue leo. Nam in ante et dolor viverra commodo. Etiam ante lorem, dictum
                vitae purus vel, gravida vehicula turpis. Integer pulvinar lorem imperdiet ante gravida, sit amet
                eleifend dolor faucibus. Ut sit amet lorem rutrum, porttitor tellus sed, pretium lectus. </p>
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>assignment_late</mat-icon> &nbsp; Contact Us
            </ng-template>
            <div class="content">
              <h2>Get in touch with us through this.</h2>
              <p>Mauris porttitor ex id lorem euismod, quis tempor neque ultrices. Phasellus ut ipsum dolor. Aenean
                sollicitudin vel justo cursus volutpat. Nunc eleifend finibus mauris, ac rhoncus erat gravida
                pellentesque. Fusce quis odio in ligula iaculis hendrerit ac eget felis. Class aptent taciti sociosqu ad
                litora torquent per conubia nostra, per inceptos himenaeos. Sed tincidunt fermentum lacus, eu aliquam
                erat consequat at. Nulla facilisi. Integer ac nisi et odio fermentum convallis. Morbi eu felis placerat
                ex blandit scelerisque. Aliquam tincidunt nisl in posuere bibendum. Morbi et nulla luctus, blandit ante
                in, lobortis est. </p>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </main>

  <footer></footer>
</div>
