<div class="main-content">
  <header pageTitle="Home" iconTitle="home" activeToggle="home" helpText="This is Home Page quick help section">
  </header>
  <mat-spinner *ngIf="statusLoading"></mat-spinner>
  <main>
    <div class="content" *ngIf="viewRole === 'user'" [@moveIn]='state'>
      <mat-card class="product-card" *ngFor="let card of lazyload">
        <mat-card-header>
          <div mat-card-avatar class="product-header-image"></div>
          <mat-card-title>{{ card.product }}</mat-card-title>
          <mat-card-subtitle>{{ card.category }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{ card.images[0] }}" alt="Photo of a {{ card.product }}"
          (click)="toggleProduct(card.id);">
        <mat-card-content>
          <h2>&#8377; {{ card.price }}</h2>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-icon-button (click)="toggleProduct(card.id);">
            <mat-icon matTooltip="View product">view_carousel</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon matTooltip="Add to favorite">favorite</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon matTooltip="Add to cart">add_shopping_cart</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div *ngIf="cardLoading && viewRole === 'user'" class="card-loading">
      <mat-progress-bar mode="buffer" color="accent"></mat-progress-bar>
      <h3 align="center">Please wait</h3>
    </div>

    <button mat-raised-button [ngClass]="{'show-scroll': showScroll}" (click)="smoothscroll()" class="scroll-to-top">
      <mat-icon matTooltip="Go up">arrow_upward</mat-icon>
    </button>

    <div class="content-admin" *ngIf="viewRole === 'admin'" [@fallIn]='state'>
      <mat-tab-group color="accent" backgroundColor="warm" mat-align-tabs="center">
        <mat-tab label="Products">
          <ng-template matTabContent>
            <shop-setproduct></shop-setproduct>
          </ng-template>
        </mat-tab>
        <mat-tab label="Orders">
          <ng-template matTabContent>
            <shop-adminorders></shop-adminorders>
          </ng-template>
        </mat-tab>
        <mat-tab label="Users">
          <ng-template matTabContent>
            <shop-adminusers></shop-adminusers>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </main>

  <footer></footer>
</div>
