.title-link {
  text-decoration: none;
  color: #fff;
}

.page-title {
  margin-right: 20px;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.fill-margin {
  margin: 0 14px 0 0;
}

.mat-icon-click {
  cursor: pointer;
}

.active {
  box-shadow: none;
  background-color: #6699CC;
}

.help-section-text {
  color: #fff !important;
  margin: 10px 5px !important;
}

.responsive-display {
  display: none;
}

@media screen and (max-width: 650px) {
  .responsive {
    display: none;
  }

  .responsive-display {
    display: inline-block;
  }
}
