<mat-toolbar>
  <mat-toolbar-row>
    <a [routerLink]="['/home']" class="title-link">
      <h1>{{title}}</h1>
    </a>
    <span class="fill-remaining-space"></span>
    <span class="page-title fill-margin">{{pageTitle}}</span>
    <mat-icon>{{iconTitle}}</mat-icon>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button mat-raised-button color="primary" [routerLink]="['/home']" routerLinkActive="router-link-active"
      class="fill-margin" [ngClass]="{'active' : activeToggle === 'home'}">Home</button>
    <button *ngIf="!adminView" mat-raised-button color="primary" [routerLink]="['/aboutus']" routerLinkActive="router-link-active"
      class="fill-margin" [ngClass]="{'active' : activeToggle === 'generalinfo'}">General Info</button>

    <span class="fill-remaining-space"></span>

    <mat-icon matTooltip="Dashboard" [routerLink]="['/dashboard']" routerLinkActive="router-link-active"
      class="fill-margin mat-icon-click responsive" [ngClass]="{'active' : activeToggle === 'dashboard'}">dashboard</mat-icon>

    <mat-icon *ngIf="!adminView" matTooltip="Shopping Cart" [routerLink]="['/cart']" routerLinkActive="router-link-active"
      class="fill-margin mat-icon-click responsive" [ngClass]="{'active' : activeToggle === 'cart'}" matBadge="{{counter}}"
      matBadgeColor="warn">shopping_cart</mat-icon>

    <mat-icon matTooltip="{{userStatus}}" [color]="userStatusColor" [routerLink]="['/login']"
      routerLinkActive="router-link-active" class="fill-margin mat-icon-click responsive"
      [ngClass]="{'active' : activeToggle === 'login'}">account_box</mat-icon>

    <mat-icon matTooltip="Settings" [routerLink]="['/settings']" routerLinkActive="router-link-active"
      class="fill-margin mat-icon-click responsive" [ngClass]="{'active' : activeToggle === 'settings'}">settings_applications
    </mat-icon>

    <mat-icon matTooltip="Quick help" class="mat-icon-click" [matMenuTriggerFor]="helpbox">help</mat-icon>

    <button mat-icon-button class="responsive-display" [matMenuTriggerFor]="hiddenMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #hiddenMenu="matMenu">
  <button mat-menu-item>
    <mat-icon matTooltip="Dashboard" [routerLink]="['/dashboard']" routerLinkActive="router-link-active"
      class="fill-margin mat-icon-click" [ngClass]="{'active' : activeToggle === 'dashboard'}">dashboard</mat-icon>
    <span>Dashboard</span>
  </button>
  <button mat-menu-item>
    <mat-icon *ngIf="!adminView" matTooltip="Your Cart" [routerLink]="['/cart']" routerLinkActive="router-link-active"
      class="fill-margin mat-icon-click" [ngClass]="{'active' : activeToggle === 'cart'}" matBadge="{{counter}}"
      matBadgeColor="warn">shopping_cart</mat-icon>
      <span>Your Cart</span>
  </button>
  <button mat-menu-item>
    <mat-icon matTooltip="{{userStatus}}" [color]="userStatusColor" [routerLink]="['/login']"
      routerLinkActive="router-link-active" class="fill-margin mat-icon-click"
      [ngClass]="{'active' : activeToggle === 'login'}">account_box</mat-icon>
      <span>{{userStatus}}</span>
  </button>
  <button mat-menu-item>
    <mat-icon matTooltip="Settings" [routerLink]="['/settings']" routerLinkActive="router-link-active"
      class="fill-margin mat-icon-click" [ngClass]="{'active' : activeToggle === 'settings'}">settings_applications
    </mat-icon>
    <span>Settings</span>
  </button>
</mat-menu>


<mat-menu class="help-section" #helpbox="matMenu">
  <span class="help-section-text">{{helpText}}</span>
</mat-menu>
