<div class="main-content">
  <header pageTitle="Results" iconTitle="list" helpText="This is Product Search quick help section"></header>
  <main>
    <div class="content" *ngIf="viewRole === 'user' && !productView" [@moveIn]='state'>
      <div class="product-detail-area">
        <div class="product-image">
          <img src="{{ result.url }}" alt="Photo of a {{ result.name }}">
        </div>
        <div class="product-name-price">
          <h2>{{ result.name }}</h2>
          <p>{{ result.description }}</p>
        </div>
      </div>
    </div>
  </main>

  <footer></footer>
</div>
