<div class="main-content">
  <header pageTitle="Product Description" iconTitle="description" [cartUpdate]="cartUpdate" helpText="This is Product quick help section"></header>
  <mat-spinner *ngIf="statusLoading"></mat-spinner>
  <main *ngIf="!statusLoading">
    <div class="content" *ngIf="viewRole === 'user'" [@moveIn]='state'>
      <div class="product-detail-area">
        <div class="product-image">
          <img src="{{ result.images[imageCounter] }}" alt="Photo of a {{ result.product }}"
            (click)="increaseImageCounter();">
          <div class="image-action">
            <button mat-icon-button (click)="decreaseImageCounter();">
              <mat-icon matTooltip="Previous image">navigate_before</mat-icon>
            </button>
            <button mat-icon-button (click)="increaseImageCounter();">
              <mat-icon matTooltip="Next image">navigate_next</mat-icon>
            </button>
          </div>
        </div>
        <div class="product-other-details">
          <h1>{{ result.product }}</h1>
          <p>{{ result.description }}</p>
          <br>
          <hr>
          <div class="cart-add-section">
            <p class="placeholder">Price: </p>
            <h3 class="price-section">&#8377; {{ result.price || 20 }}</h3>
            <br>
            <p class="placeholder">Add to Cart: </p>
            <button mat-icon-button [disabled]="counter === 0" (click)="decreaseCounter();">
              <mat-icon matTooltip="Decrease multiple (Max: 10)">remove</mat-icon>
            </button>
            {{ counter }}
            <button mat-icon-button [disabled]="counter === 10" (click)="increaseCounter();">
              <mat-icon matTooltip="Select multiple (Max: 10)">add</mat-icon>
            </button>
            <br>
            <p class="placeholder">Total Cost: </p>
            <h3 class="price-section">&#8377; {{ result.price * counter || 20 * counter}}</h3>
            <br><br>
            <button mat-raised-button [disabled]="counter === 0" matBadge="{{ counter > 0 ? counter: null }}"
              matBadgeColor="accent" (click)="addToCart(result.id)" class="cart-button">
              <mat-icon matTooltip="Add to cart {{ counter }} {{ counter > 1 ? 'items': 'item'}}">add_shopping_cart
              </mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer></footer>
</div>
