.main-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  position: relative
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2rem;
}

.product-card img {
  /* max-width: 400px; */
  height: 303.45px !important;
}

.product-card {
  flex: 0 1 calc(30% - 1em);
  margin: 0 0 10px 0;
}

img {
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  cursor: pointer;
}

img:hover {
  filter: blur(1px) opacity(75%);
  -webkit-filter: blur(1px) opacity(75%);
}

footer {
  margin: auto 0 0 0;
}

@media screen and (max-width: 650px) {

  .content {
    display: block;
  }

  .product-card {
    margin: 10px 0;
  }
}
