<div class="main-content">
  <header pageTitle="Search" iconTitle="search" helpText="This is Product Search quick help section"></header>
  <mat-spinner *ngIf="statusLoading"></mat-spinner>
  <main *ngIf="!statusLoading">
    <div class="content" *ngIf="viewRole === 'user' && !productView" [@moveIn]='state'>
      <mat-card class="product-card" *ngFor="let card of cards; let i=index;">
        <mat-card-header>
          <div mat-card-avatar class="product-header-image"></div>
          <mat-card-title>{{ card.product }}</mat-card-title>
          <mat-card-subtitle>{{ card.category }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{ card.images[0] }}" alt="Photo of a {{ card.product }}"
          (click)="toggleProduct(card.id);">
        <mat-card-content>
          <h2>&#8377; {{ card.price }}</h2>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-icon-button (click)="toggleProduct(card.id);">
            <mat-icon matTooltip="View product">view_carousel</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon matTooltip="Add to favorite">favorite</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon matTooltip="Add to cart">add_shopping_cart</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </main>

  <footer></footer>
</div>
