<mat-spinner *ngIf="statusLoading" class="spinner"></mat-spinner>
<mat-accordion *ngIf="!statusLoading && viewRole === 'user'">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Your Searches
      </mat-panel-title>
      <mat-panel-description>
        List of things you searched
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list *ngIf="interestData.search.length">
      <mat-list-item *ngFor="let item of interestData.search">
        <mat-icon matListIcon>search</mat-icon>
        <h3 matLine> {{ item.key }} </h3>
        <p matLine>You searched this at {{ item.time | date}} </p>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Your Product Views
      </mat-panel-title>
      <mat-panel-description>
        List of products you viewed
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list *ngIf="interestData.productClick.length">
      <mat-list-item *ngFor="let item of interestData.productClick">
        <img matListAvatar src="{{ item.images[0] }}" alt="{{ item.product }}">
        <h3 matLine> {{ item.product }} </h3>
        <p matLine>Category: {{ item.category }}, Tags: [{{ item.tags }}], Price: &#8377; {{ item.price }}</p>
        <p matLine>You viewed this at {{ item.time | date }} </p>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Your Cart addings
      </mat-panel-title>
      <mat-panel-description>
        List of products you added to cart
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list *ngIf="interestData.addCart.length">
      <mat-list-item *ngFor="let item of interestData.addCart">
        <img matListAvatar src="{{ item.images[0] }}" alt="{{ item.product }}">
        <h3 matLine> {{ item.product }} </h3>
        <p matLine>Category: {{ item.category }}, Tags: [{{ item.tags }}], Price: &#8377; {{ item.price }}, Count:
          {{ item.count }}, Total: &#8377; {{ item.count * item.price }}</p>
        <p matLine>You viewed this at {{ item.time | date }} </p>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Your Cart removings
      </mat-panel-title>
      <mat-panel-description>
        List of products you removed from cart (didn't purchase)
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list *ngIf="interestData.removeCart.length">
      <mat-list-item *ngFor="let item of interestData.removeCart">
        <img matListAvatar src="{{ item.images[0] }}" alt="{{ item.product }}">
        <h3 matLine> {{ item.product }} </h3>
        <p matLine>Category: {{ item.category }}, Tags: [{{ item.tags }}], Price: &#8377; {{ item.price }}, Count:
          {{ item.count }}, Total: &#8377; {{ item.count * item.price }}</p>
        <p matLine>You viewed this at {{ item.time | date }} </p>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>

<!--SECTION Admin area start -->
<mat-accordion *ngIf="!statusLoading && viewRole === 'admin'">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Your Product Searches
      </mat-panel-title>
      <mat-panel-description>
        List of products you searched
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list *ngIf="interestData.searchProduct.length">
      <mat-list-item *ngFor="let item of interestData.searchProduct">
        <mat-icon matListIcon>search</mat-icon>
        <h3 matLine> {{ item.product }} </h3>
        <p matLine>Category: {{ item.category }}</p>
        <p matLine>You searched this at {{ item.time | date}} </p>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Your Product Edits
      </mat-panel-title>
      <mat-panel-description>
        List of products you edited
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list *ngIf="interestData.editProduct.length">
      <mat-list-item *ngFor="let item of interestData.editProduct">
        <img matListAvatar src="{{ item.images[0] }}" alt="{{ item.product }}">
        <h3 matLine> ID: {{ item.id }} </h3>
        <p matLine>Tags: [{{ item.tags }}], Price: &#8377; {{ item.price }}, Max Discount: {{ item.maxdiscount }} %, Extra Taxes: {{ item.extrataxes }} %</p>
        <p matLine>You edited this at {{ item.time | date }} </p>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Your Product deletes
      </mat-panel-title>
      <mat-panel-description>
        List of products you deleted
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list *ngIf="interestData.deleteProduct.length">
      <mat-list-item *ngFor="let item of interestData.deleteProduct">
        <img matListAvatar src="{{ item.images[0] }}" alt="{{ item.product }}">
        <h3 matLine> ID: {{ item.id }} Name: {{ item.product }} </h3>
        <p matLine>Category: {{ item.category }}, Tags: [{{ item.tags }}], Price: &#8377; {{ item.price }}</p>
        <p matLine>You deleted this at {{ item.time | date }} </p>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Your Product adds
      </mat-panel-title>
      <mat-panel-description>
        List of new products you added
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list *ngIf="interestData.addProduct.length">
      <mat-list-item *ngFor="let item of interestData.addProduct">
        <img matListAvatar src="{{ item.images[0] }}" alt="{{ item.product }}">
        <h3 matLine> ID: {{ item.id }} Name: {{ item.product }} </h3>
        <p matLine>Category: {{ item.category }}, Tags: [{{ item.tags }}], Price: &#8377; {{ item.price }}</p>
        <p matLine>You added this at {{ item.time | date }} </p>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
